[submodule "vendor/zsh-completions"]
	path = vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vendor/fzf-tab"]
	path = vendor/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
  ignore = dirty
[submodule "vendor/fzf"]
	path = vendor/fzf
	url = https://github.com/junegunn/fzf.git
